<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.demo06.Dao.StudentAllDao">
    <resultMap id="studentmap" type="com.example.mybatis.demo06.Entity.Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <collection property="courses" ofType="com.example.mybatis.demo06.Entity.Course"/>

    </resultMap>
    <resultMap id="courses" type="com.example.mybatis.demo06.Entity.Course">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="credit" column="credit"/>
    </resultMap>
    <resultMap id="teachermap" type="com.example.mybatis.demo06.Entity.HeadTeacher">
        <id property="tid" column="ht_id"/>
        <result property="tname" column="ht_name"/>
        <result property="tage" column="ht_age"/>
    </resultMap>
    <resultMap id="classmap" type="com.example.mybatis.demo06.Entity.HeadClass">
        <id property="cid" column="hc_id"/>
        <result property="cname" column="hc_name"/>
        <association property="headTeachers" column="ht_id" resultMap="teachermap"/>
        <collection property="students" ofType="com.example.mybatis.demo06.Entity.Student"/>
    </resultMap>
    <select id="linkTableSel" resultMap="classmap">
        select
        * from
        student S
        left join student_course SC on S.id=SC.s_id
        left join course C on SC.c_id=C.id
        left join headclass HC on S.c_id=HC.hc_id
        left join headtecher HT on HC.ht_id=HT.ht_id
        where S.id=C.id
        and S.id=#{id}
    </select>
</mapper>